.d {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 94px;
}
.d1 {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: rgb(219, 68, 68);
}
.d p {
  color: rgb(219, 68, 68);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.d2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.d2 h1 {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 4%;
  text-align: left;
}
.d2 img {
  padding: 11px;
  background: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
}
.e svg {
  font-size: 56px;
}
.e {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 25px 57px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}
.e p {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.e:hover {
  background: #db4444;
}
.e:hover p {
  color: #fff;
}
.e:hover svg {
  color: #fff;
}
.e1 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 65px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
